<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <a href="index.php">
                <img src="assets/images/2.png" class="app-logo" alt="Logotipo"/>
                <span id="brand">
                    <strong>Z</strong>Code
                </span>
            </a>            
        </div>
        
        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/probando']" [routerLinkActive]="['active']">Probando</a>
                </li> 
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Películas</a>
                </li>                                         
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>
